body{
    background-color: black;
}
h2{
    color: white;
    text-align: center;
    margin: 30px;
}
.main-div{
    width: 100%;
    height: 125px;
    display: flex;
    gap: 5px;
    justify-content: center;
 
    
}
.small-div{
    width: 100px;
    height: 120px;
}
